body {
    background: white;
    display: flex;
}
hgroup {
    height: 80px;
    align-self: center;
    background-color:rgb(165, 164, 164);
    color: red;
    width: 1000px;
    padding: 50px;
    margin: 20px;
}